.tab {
  display: flex;
}

.tab button {
  flex: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.tab button:hover {
  background-color: gainsboro;
}

/* .tab button:focus {
  color: #AB705C;
  font-weight: bold;
} */

.active-count {
  font-size: 1.25rem;
  font-weight: bold;
}

.active-count.active {
  color: #AB705C;
}

.category-table {
  display: flex;
}

.category-row {
  display: flex;
  flex: 1;
}

.category-cell {
  flex: 1;
  padding: 8px;
  text-align: center;
}

.category-cell:last-child {
  border-right: none;
}

.category-cell.best {
  font-weight: bold;
}
