.yhw_detailCont {
  width: 95%;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  min-height: 600px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.yhw_detailTopBox {
  width: 80%;
  margin: 0 auto;
}
.yhw_detailTopNav a { /* 상품 상세페이지 상단 네비게이션 Link 태그 CSS */
  text-decoration: none;
}
.yhw_detailTopNav span {
  font-size: 13px;
  color: black;
  line-height: 25px;
}
.yhw_deailStatCatBox {
  width: 100%;
  margin: 0 auto;
}
.yhw_detailMainBox {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
/* ******************************************************* */
/* CSS 반응형 */
@media screen and (max-width: 768px) {  /* 화면의 너비가 최대 621px 일 때 (621px 미만) */
  .yhw_detailCont {
    width: 100%;
    margin: 0;
  }
}