.yhw_detailContsBox {
  padding: 6vh 0 7vh 0;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/*.yhw_detailContsBox > div {   justify-content:space-between 하기 위해 왼쪽구역(이미지, 텍스트)과 오른쪽구역(버튼)을 나눔 
  border: 2px solid red;
}*/
.yhw_detailContsLElts {
  display: flex;
  width: 80%;
}
.yhw_detailContsLElts img {
  width: 120px;
  height: 160px;
  margin-right: 40px;
}
.yhw_detailContsLTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}
.yhw_detailContsLTop {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.yhw_detailContsLTop span {
  font-size: 14px;
}
.yhw_detailContsSeller {
  color: #C87E66;
  margin-top: 10px;
}
.yhw_detailContsLBottom {
  display: flex;
  /* flex-direction: column; */
  height: 60px;
}
.yhw_detailContsLBottom > span {
  margin-right: 10px;
  font-size: 16px;
}
.yhw_detailContsLBottom > b {
  font-size: 17px;
  line-height: 25px;
}
.yhw_detailContsState {
  color: #828282;
  line-height: 20px;
  font-size: 13px;
}
.yhw_detailContsRBtns {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 120px;
  height: 160px;
  /* margin-right: 20px; */
}
.yhw_detailContsRBtns button {
  /* margin-bottom: 1rem; */
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9375rem; 
  width: 9.75rem; /* 156px; */
  height: 2.875rem; /* 46px; */
}
.yhw_detailContsRBtns button:first-child {
  background-color: #C87E66;
  color: white;
  margin-bottom: 10px;
}
.yhw_detailContsRBtns button:first-child:hover {
  background-color: #ab705c;
}
.yhw_detailContsRBtns button:last-child {
  background-color: #F4F4F4;
  color: #000;
}
.yhw_detailContsRBtns button:last-child:hover {
  background-color: #cbcbcb;
}
/* ******************************************************* */
/* CSS 반응형 */
@media screen and (max-width: 1440px) {  /* 화면의 너비가 최대 1440px 일 때 */
  .yhw_detailContsBox {
    height: 200px;
  }
  .yhw_detailContsLElts {
    width: 75%;
  }
  .yhw_detailContsRBtns {
    width: 40%;
  }
  .yhw_detailContsRBtns button {
    width: 100%;
    margin-bottom: 1vh;
    max-width: 200px;
  }
  .yhw_detailContsRBtns button:first-child:active { /* 큰 데스크톱을 제외한 모든 기기에서 해당 버튼 눌렸을 때 active 효과 주기 */
    background-color: #ab705c;
  }
  .yhw_detailContsRBtns button:last-child:active { /* 큰 데스크톱을 제외한 모든 기기에서 해당 버튼 눌렸을 때 active 효과 주기 */
    background-color: #cbcbcb;
  }
}
@media screen and (max-width: 768px) {
  .yhw_detailContsBox {
    flex-direction: column;
    padding: 0;
    height: 260px;
  }
  .yhw_detailContsLElts {
    margin-top: 4vh;
    width: 100%;
    box-sizing: border-box;
  }
  .yhw_detailContsRBtns {
    flex-direction: row;
    width: 100%;
    margin-top: 1vh;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .yhw_detailContsRBtns button {
    width: 45%;
    max-width: 250px;
  }
}
@media screen and (max-width: 425px) {
  .yhw_detailContsBox {
    height: 380px;
  }
  .yhw_detailContsLElts a {
    display: block;
    width: 100%;
  }
  .yhw_detailContsLTxt * {
    display: block;
  }
  .yhw_detailContsLTxt {
    height: 120px;
  }
  .yhw_detailContsLElts {
    flex-direction: column;
  }
  .yhw_detailContsRBtns {
    margin-top: 1vh;
  }
}