.cyjqna-board {
   display: flex;
   width: 90%;
   margin: 0 auto;
 }

 .qna-page-sidebar {
    flex: 1;
 }

 .Qna_home {
    border-radius: 5px;
    flex: 8;
    padding: 0;
 }

 .label {
    font-family: 'Gulim', sans-serif;
    font-weight: bold;
 }

 .qna_main_title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
 }

 .input-field {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Gulim', sans-serif;
 }

 .input-field-view {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    font-family: 'Gulim', sans-serif;
 }

 .submit-button {
   /* background-color: #C87E66;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   font-family: 'Gulim', sans-serif; */
   margin: 10px auto 50px;
   background-color: #C87E66;
   color: #fff;
   border: none;
   border-radius: 4px;
   padding: 0.5rem 1rem;
   cursor: pointer;
   /* margin-top: 1rem; */
   font-weight: bold;
   font-size: 0.9375rem; 
   width: 9.75rem; /* 156px; */
   height: 2.875rem; /* 46px; */
 }

 .submit-button:hover {
    background-color: #ab705c;
 }

 .question-list {
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .question-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
 }

 .question-header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    text-align: left;
    background-color: #C87E66;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
 }
 .question-number {
   margin-right: 1.2rem;
 }

 .question-title {
    flex-grow: 1;
    text-align: center;
    font-family: 'Gulim', sans-serif;
 }

 .question-content {
    /* text-align: center; */
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* font-family: 'Gulim', sans-serif; */
 }


/* yhw 수정-추가 */
.cyj_QNAformBox {
   display: flex;
   flex-direction: column;
}
.cyj_QNAlableNinput {
   display: flex;
   margin-bottom: 5px;
}
.cyj_QNAlableNinput label {
   width: 80px;
   display: block;
   line-height: 30px;
}
.cyj_QNAlableNinput input {
   width: 90%;
   border-radius: 5px;
   border: 1px solid #D9D9D9;
}
.cyj_QNAlableNinput textarea {
   width: 90%;
   border-radius: 5px;
   border: 1px solid #D9D9D9;
   resize: none;
}
.cyj_QNAlableNinput input::placeholder {
   color: #D2D2D2;
   font-size: 14px;
}
.cyj_QNAlableNinput textarea::placeholder {
   color: #D2D2D2;
   font-size: 14px;
}