
.sbk-header-wrapper {
  padding: 2rem 7vw;
/*   padding: 0.5rem 3rem; */
/*   margin: 0 10vw; */
  padding-bottom: 0.2vw;
  /* padding-left: 10vw; */
}

.sbk-menu-container {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.sbk-menu-item {  
  text-decoration: none;
  color: black;
}


.sbk-logo-image {
  margin: 0.8rem;
  width: 8rem;
}

.sbk-li-container {
  font-size: 0.875rem; /* 14px */
  display: flex;
  justify-content: flex-end;
  /*margin-right: 10vw;   */
}

.sbk-li-container dl {
  display: block;
  margin-block-start: 1vw;
  margin-block-end: 1vw;
  margin-inline-start: 1vw;
}

.sbk-li-container dt {
  float: left;
  margin-right: 0.5rem;
}

.sbk-li-container dd {
  display: block;
  margin-inline-start: 9rem;
}

.sbk-li-container a {
  text-decoration: none;
  color: #000000;
}

.sbk-li-container :hover {
  color: #BC6F37;
}

.sbk-li-container .active {
  color: #BC6F37;
  font-weight: bold;
}


.sbk-nav-container {
  font-size: 1rem;
/*   font-size: 16px; */
  text-align: left;
  margin-left: 0;
}

.sbk-nav-container dl {
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 2rem;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.sbk-nav-container dt {
  margin-right: 1.5rem;
  display: inline-block;
}

.sbk-nav-container a {
  text-decoration: none;
  color: #000000;
}

.sbk-nav-container :hover {
  color: #BC6F37;
}

.sbk-nav-container .active {
  color: #BC6F37;
  font-weight: bold;
}



.sbk-search-container {
  display: flex;
  align-items: center;
  border: 3px solid #BC6F37;
  border-radius: 8px;
  padding: 0.2vw;
  margin: 1rem 3vw;
}

.sbk-search-input {
  width: 30vw;
  min-width: 10rem;
/*   width: 28vw; */
  height: 35px;
  border: none;
  outline: none;
  font-size: 1rem;
}

@media screen and (max-width: 621px) {
  .sbk-search-input {
    width: 55vw;
  }
}

@media screen and (max-width: 425px) {
  .sbk-search-input {
    width: 13rem;
  }
}

@media screen and (max-width: 375px) {
  .sbk-search-input {
    width: 10rem;
  }
}


.sbk-search-icon {
  color: #BC6F37;
  margin-right: 0.5rem;
/*   margin-left: 10px; */
}

.sbk-search-button {
  background-color: #BC6F37;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.sbk-header-hr {
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #E2E2E2;
}


.sbk-notification-content::-webkit-scrollbar {
  width: 0.6rem; /* 스크롤 바 너비 */
}

.sbk-notification-content::-webkit-scrollbar-track {
  background: #F1F1F1;
  /* 배경색 기본 문서 스크롤바 트랙색과 같게 */
}

.sbk-notification-content::-webkit-scrollbar-thumb {
  background: #C87E66;
  border-radius: 6px;
  height: 1px;
}
.sbk-notification-content::-webkit-scrollbar-thumb:hover {
  background: #ab705c;
}


.sbk-notification-btn {
  color: #777777;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.sbk-notification-content {
  position: absolute;
  right: 7vw;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
  border-radius: 7px;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
}

.sbk-notification-content li {
margin: 1rem;
margin-left: 0;
}

.sbk-notification-title {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {

  .sbk-notification-content {
    width: 250px;
    right: calc(20vw - 250px);
  }

  .sbk-header-wrapper {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .sbk-li-container {
    font-size: 0.7rem;

  }

  .sbk-nav-container {
    font-size: 0.9rem;
  }

  .sbk-search-input {
    font-size: 0.9rem;
  }

  .sbk-nav-container a {
    font-size: 0.9rem;
  }
  .sbk-search-input {
    font-size: 0.9rem;
  }
  .sbk-search-button {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .sbk-li-container dl {
    display: block;
    margin-block-start: -0.7rem;
    margin-block-end: 5vw;
  }

  .sbk-li-container dt {
    float: left;
    margin-right: 0.7rem;
  }

    .sbk-nav-container {
      font-size: 0.7rem;
    }

    .sbk-search-input {
      font-size: 0.7rem;
    }

    .sbk-nav-container a {
      font-size: 0.7rem;
    }

      .sbk-search-input {
    font-size: 0.7rem;
  }
    .sbk-search-button {
    font-size: 0.6rem;
  }
}