
.pagination {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.pagination button {
  font-size: 16px; 
  padding: 8px 12px; 
  margin: 0 4px; 
  border: none;
  background-color: #eee;
}

.pagination button.active {
  background-color: #C87E66; 
  color: white; 
}

.pagination button:disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}

@media (max-width: 425px) {
  .pagination button {
    width: 30px; 
    height: 30px; 
    font-size: 0.75rem; 
    padding: 0;
    margin: 0.1rem;
  }
  .pagination-next-button {
    margin: 0;
  }

  .pagination-prev-button {
    margin: 0;
  }
  .pagination button {
    display: none;
  }

  .pagination button:nth-child(1),
  .pagination button:nth-child(2),
  .pagination button:nth-child(3),
  .pagination button:nth-child(4),
  .pagination button:nth-last-child(1) {
    display: inline-block;
  }

}
