/* PurchaseReqList.css */
.sbk-purchase-req-card {
  display: flex;
  box-shadow: 0 1px 0 0 #ccc;
/*   padding: 1vw 2vw; */
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}
/* .sbk-list-inner-container {
  padding: 1rem;
} */
.sbk-book-image {
  width: 170px;
/*   height: auto; */
  border-radius: 8px;
  margin: 1vw;

  max-width: 170px; 
/*   max-height: 250px; */
  margin: 1.5vw 2vw;
}

.sbk-text-container {
  width: 10rem;
  text-align: left;
  margin: 1.5vw 2vw;
}

.sbk-book-title {
  font-size: 1.25rem; /* 20px; */
  margin-top: 0px;
}

.sbk-book-info {
font-size: 0.9375rem;  /* 15px */
/*   margin-top: 10px; */
}

/* .sbk-book-state {
  font-size: 0.9rem;
  margin-top: 10px;
} */

.sbk-status-button,
.sbk-cancel-button {
  background-color: #C87E66;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
/*   font-size: 1.2rem; */
  font-size: 0.9375rem; 
  width: 10rem;
  height: 3.5rem;
}

.sbk-status-button:hover {
background-color: #ab705c;

}

.sbk-cancel-button {
  background-color: #F4F4F4;
  color: #000000;
}

.sbk-cancel-button:hover {
  background-color: #dadada;
}

.sbk-button-container {
  position: absolute;
  right: 3vw;
  display: flex;
  flex-direction: column;
  margin: 1vw;

}
.sbk-main-container {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.sbk-book-status {
  /*   text-align: left; */
  font-size: 0.9375rem;
  font-weight: bold;
}

.sbk-book-status-dl {
  display: block;
}

.sbk-book-status-dt {
  float: left;

}

.sbk-book-status-dd {
  display: block;
  margin-inline-start: 9rem;
  width: 100px;
}
@media screen and (max-width: 768px) {
  .sbk-book-image {
    width: 120px;
  }

  .sbk-text-container {
    width: 7rem;
  }

  .sbk-book-title {
    font-size: 1rem;
  }

  .sbk-book-info {
    font-size: 0.625rem;
  }

/*   .sbk-button-container {
    margin: 0.5rem;
  } */

  .sbk-status-button,
  .sbk-cancel-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.625rem;
    width: 7rem;
    height: 2.5rem;
    margin-top: 0.5rem;
  }

  .sbk-book-status {
    font-size: 0.625rem;
  }

  .sbk-book-status-dd {
    margin-inline-start: 6rem;
    width: 70px;
  }

  .sbk-main-container {
    margin-top: 1vw;
    margin-bottom: 10vw;
  }
  
}

@media screen and (max-width: 425px) {
  .sbk-book-image {
    width: 90px;
  }

  .sbk-text-container {
    width: 5rem;
  }

  .sbk-book-title {
    font-size: 0.8rem;
  }

  .sbk-book-info {
    font-size: 0.5rem;
  }

  .sbk-status-button,
  .sbk-cancel-button {
    
    font-size: 0.5rem;
    width: 4.5rem;
    height: 1.5rem;
    margin-top: 0.25rem;

  }

  .sbk-book-status-dd {
    margin-inline-start: 5rem;
  }

  .sbk-book-status-dl {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.5rem;
}
}
