/* PurchaseReqList.css */
.sbk-purchase-req-card {
  display: flex;
  box-shadow: 0 1px 0 0 #ccc;
  padding: 1rem 2vw;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.sbk-book-image {
  width: 170px;
  border-radius: 8px;
  margin: 1vw;
}

.sbk-text-container {
  width: 10rem;
  text-align: left;
  margin: 2vw;
}

.sbk-book-title {
  font-size: 1.4rem;
  margin-top: 10px;
}

.sbk-book-info {
  font-size: 0.9rem;
  margin-top: 10px;
}

/* .sbk-book-state {
  font-size: 0.9rem;
  margin-top: 10px;
} */

.sbk-status-button,
.sbk-cancel-button {
  background-color: #C87E66;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  width: 10rem;
  height: 3.5rem;
}

.sbk-status-button:hover {
background-color: #ab705c;

}

.sbk-cancel-button {
  background-color: #F4F4F4;
  color: #000000;
}

.sbk-cancel-button:hover {
  background-color: #dadada;
}

.sbk-button-container {
  position: absolute;
  right: 3vw;
  display: flex;
  flex-direction: column;
  margin: 1rem;

}

@media screen and (max-width: 768px) {
  .sbk-book-image {
    width: 100px;
  }

  .sbk-text-container {
    width: 7rem;
  }

  .sbk-book-title {
    font-size: 1rem;
  }

  .sbk-book-info {
    font-size: 0.6rem;
  }

/*   .sbk-button-container {
    margin: 0.5rem;
  } */

  .sbk-status-button,
  .sbk-cancel-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    width: 7rem;
    height: 2.5rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .sbk-book-image {
    width: 80px;
  }

  .sbk-text-container {
    width: 5rem;
  }

  .sbk-book-title {
    font-size: 0.8rem;
  }

  .sbk-book-info {
    font-size: 0.4rem;
  }
/*   .sbk-button-container {
    margin: 0.25rem;
  } */
  .sbk-status-button,
  .sbk-cancel-button {
    
    font-size: 0.4rem;
    width: 4rem;
    height: 1.2rem;
    margin-top: 0.25rem;

  }
}
