.yhw_purInfoBox {
  display: flex;
}
.yhw_purInfoBox > a {
  display: block;
  width: 180px;
  height: 240px;
  margin-right: 40px;
}
.yhw_purInfoBox > a > img {
  width: 100%;
  height: 100%;
}
.yhw_purInfoTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yhw_purInfoTxtTop {
  display: flex;
  flex-direction: column;
}
.yhw_purInfoTxtTop > b {
  font-size: 20px;
}
.yhw_purInfoTxtTop > span {
  font-size: 15px;
  font-weight: medium;
  line-height: 21px;
}
.yhw_purInfoSeller {
  color: #C87E66;
  margin-top: 10px;
  font-size: 14px;
}
.yhw_purInfoTxtBottom {
  display: flex;
  flex-direction: column;
}
.yhw_purInfoTxtBottom > span {
  font-size: 15px;
  line-height: 21px;
}