/* jyh 변경 */
.yhw_purHistCont {
  width: 100%;
  display: flex;
}
.yhw_MypageSideAdd {
  width: 20%;
  min-width: 170px;
  padding-left: 1vw;
  border: 2px solid #e2e2e2;
}
.yhw_purHistMainCont h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.yhw_purHistMainCont {
  width: 97%;
  margin-left: 3%;
  /* min-width: 350px; */
  padding: 41px 0 0 0;
}
.yhw_purHistTopCont {
  width: 100%;
}
.yhw_purHistTopCont > b {
  font-size: 20px;
  font-weight: 900;
}
.yhw_purHistContentsBox { /* 해당 날짜, 구매내역 리스트 감싸는 div 태그 CSS */
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  /* margin-left: 2vw; */
}
.yhw_purHistContentsDate {  /* 해당 날짜 span 태그 CSS */
  font-size: 17px;
  font-weight: 600;
  margin-left: 30px;
}
.yhw_purHistLists {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.yhw_purHistLists > li {  /* PurInfoBox 컴포넌트랑 구매후기작성 버튼 감싸는 li 태그 CSS */
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: #E2E2E2 1px solid;
  box-sizing: border-box;
  padding-bottom: 50px;
  /* margin-bottom: 50px; */
}
.yhw_purHistLists > li:not(:first-child) {
  margin-top: 50px;
}
.yhw_purHistBtns {
  width: fit-content;
  margin-right: 4vw;
}
.yhw_purHistBtns > button {
  background-color: #C87E66;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* margin-top: 1rem; */
  font-weight: bold;
  font-size: 0.9375rem; 
  width: 9.75rem; /* 156px; */
  height: 2.875rem; /* 46px; */
}
.yhw_purHistBtns > button:hover {
  background-color: #ab705c;
}

.jyh-button {
  color: #C87E66;
  font-size: 1.2rem;
  font-weight: 900;
  text-decoration: none;
}

.jyh-button::after {
  content: '>';
  margin-left: 5px; /* 원하는 간격으로 조정 */
}
/* ******************************************************* */
/* CSS 반응형 */
@media screen and (max-width: 1440px) {  /* 화면의 너비가 최대 1440px 일 때 (1440px 미만) */
  .yhw_purHistCont {
    transform: scale(0.9, 0.9);
    margin: 0;
    padding: 0;
    position: relative;
    top: -4vh;
  }
  .yhw_purHistContentsBox {
    margin: 0;
  }
  .yhw_purHistBtns > button:active { /* 큰 데스크톱을 제외한 모든 기기에서 해당 버튼 눌렸을 때 active 효과 주기 */
    background-color: #ab705c;
  }
}
@media screen and (max-width: 920px) {
  .yhw_purHistLists > li {  /* PurInfoBox 컴포넌트랑 구매후기작성 버튼 감싸는 li 태그 CSS 반응형 => 구매후기버튼 밑으로 */
    flex-direction: column;
    /* padding-bottom: 2vh; */
  }
  .yhw_purHistBtns {
    width: 80%;
    margin-top: 3vh;
    box-sizing: border-box
  }
  .yhw_purHistBtns > button {
    margin-left: 20%;
  }
}
@media screen and (max-width: 621px) {
  .yhw_purHistCont {
    transform: scale(0.8, 0.8);
    top: -8vh;
  }
  .yhw_purHistContentsDate {
    margin: 0;
  }
  .yhw_purHistBtns {
    margin: 2vh auto 0 auto;
  }
  .yhw_purHistBtns > button {
    margin-left: 10%;
  }
}
@media screen and (max-width: 425px) {
  .yhw_purHistCont {
    transform: scale(0.7, 0.7);
    top: -16vh;
  }
  .yhw_purHistBtns {
    margin: 0;
    margin-top: 1vh;
  }
}