.yhw_container { /* 유혜원 공통 CSS */
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  padding-top: 40px;
}
.yhw_purTopBorderBottom {
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
}
.yhw_purTopCont {
  width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
.yhw_purTopCont > b { /* 구매하기 글씨 CSS */
  margin-bottom: 30px;
  font-size: 23px;
}
.yhw_destFormDiv {  /* 배송지 입력 form 태그 감싸는 div 태그 CSS */
  width: 650px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.yhw_purBtn {
  width: 120px;
  height: 35px;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
  background-color: #C87E66;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 900;
  cursor: pointer;
}
.yhw_purBtn:hover {
  background-color: #ab705c;
}