.yhw_defShippingInfoBox {
  padding-left: 5%;
  width: fit-content;
}
.yhw_defShippingInfoBox > span {
  font-size: 14px;
  font-weight: medium;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 0;
  width: 90%;
  height: 30px;
}