.yhw_purInfoBox {
  display: flex;
  width: fit-content;
}
.yhw_purInfoBox > a {
  display: block;
  width: 150px;
  height: 200px;
  margin-right: 4vw;
}
.yhw_purInfoBox > a > img {
  width: 100%;
  height: 100%;
}
.yhw_purInfoTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yhw_purInfoTxtTop {
  display: flex;
  flex-direction: column;
}
.yhw_purInfoTxtTop > b {
  font-size: 20px;
  margin-bottom: 3px;
}
.yhw_purInfoTxtTop > span {
  font-size: 15px;
  font-weight: medium;
  line-height: 21px;
}
.yhw_purInfoSeller {
  color: #C87E66;
  margin-top: 10px;
  font-size: 14px;
}
.yhw_purInfoTxtBottom { /* 상태등급, 판매입찰가 모두 감싸는 div 태그 CSS */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.yhw_purInfoTxtBottom > div {
  display: flex;
  width: 100%;
  /* width: 160px; */
}
.yhw_purInfoTxtBottom span {
  font-size: 16px;
  line-height: 21px;
  width: 65%;
  /* min-width: 85px; */
  display: block;
}
.yhw_purInfoTxtBottom b {
  font-size: 17px;
  line-height: 22px;
  width: 55%;
  /* min-width: 72px; */
  display: block;
}
.yhw_purInfoStat {
  margin-bottom: 2px;
}
/* ******************************************************* */
/* CSS 반응형 */
@media screen and (max-width: 1440px) {  /* 화면의 너비가 최대 1440px 일 때 (1440px 미만) */
  @media screen and (min-width: 621px) {  /* 이면서 최소 621px 이상일 때 */
    .yhw_purInfoTxtBottom span {
      width: 50px;
    }
  }
}
@media screen and (max-width: 425px) {
  .yhw_purInfoBox {
    flex-direction: column;
  }
}