.sbk-seller-info-container {
  max-width: 1000px;
  padding: 4vw 10vw;
  margin: 0 auto;
  text-align: left;
}
.sbk-seller-info-container * {
  /* text-align: left; */
  text-align: inherit;
}
.sbk-seller-info {
  margin-bottom: 20px;
}

.sbk-seller-info-heading h1 {
font-size: 1.375rem; /* 22px; */
  margin-bottom: 2rem;
}
.sbk-seller-info-heading h2 {
font-size: 1.375rem; /* 22px; */
  color: #C87E66;
}

.sbk-flex-container {
  display: flex;
  align-items: center;
}

.sbk-seller-info-grade h2,
.sbk-seller-info-reviews h2 { /* 판매자등급, 판매자후기 */
  font-size: 1.125rem;/*  18px; */
  margin-right: 1rem;
}

.sbk-seller-info-grade,
.sbk-seller-info-reviews {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.sbk-seller-info-value {
/*   font-size: 2rem; */
  font-size: 2.1875rem; /* 35px; */
  font-weight: bold;
}

.sbk-seller-info-grade-container {
  margin-bottom: 2vw;
}
.sbk-review {
  margin-bottom: 2vw;
}


.sbk-review-content {
  margin-left: 20px;
  font-size: 0.875rem;/*  14px; */
}

.sbk-seller-info-label,
.sbk-review-buyer-name {
  font-size: 0.875rem;/*  14px; */
  font-weight: bold;

  display: inline-block;
  width: 7rem;
}

.sbk-seller-hr {
  margin-bottom: 2vw;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #E2E2E2;
}

@media screen and (max-width: 768px) {

  .sbk-seller-info-heading h1 {
    font-size: 1.1rem;
  }
  .sbk-seller-info-heading h2 {
    font-size: 1.1rem;
  }
  .sbk-seller-info-grade h2,
  .sbk-seller-info-reviews h2 {
    font-size: 1rem;
  }
  

  .sbk-seller-info-value {
    font-size: 1.8rem;
  }

  .sbk-review-content {
    font-size: 0.7rem;
  }
  .sbk-seller-info-label,
  .sbk-review-buyer-name {
    font-size: 0.7rem; /* calc(1.2rem - 0.2rem); */
    width: 5rem;

  }
}

@media screen and (max-width: 425px) {

  .sbk-seller-info-heading h1 {
    font-size: 1rem;
  }

  .sbk-seller-info-heading h2 {
    font-size: 1rem;
  }
  .sbk-seller-info-grade h2,
  .sbk-seller-info-reviews h2 {
    font-size: 0.9rem;
  }
  
  .sbk-seller-info-value {
    font-size: 1.4rem;
  }
  .sbk-review-content {
    font-size: 0.6rem;
  }

  .sbk-seller-info-label,
  .sbk-review-buyer-name {
    font-size: 0.6rem;
/*     width: 3rem; */
  }
}
