.jyh-seller-info-label {
/*   font-size: 1.2rem; */
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding-left: 2rem;
}

/* .sbk-seller-info-grade, .sbk-seller-info-reviews { */
.sbk-seller-info-grade:not(:last-child) {
  margin-bottom: 7rem;
}

.jyh-sellerRank-Container {
  padding: 0;
  margin: 0;
  width: 97%;
  margin-left: 3%;
}

.jyh-seller-info-container {
  /* max-width: 1000px; */
  padding: 0;
  width: 700px;
}

.jyh-starter {
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
  margin-left: 1.2rem;
}
