.yhw_signForm {
  width: 100%;
  height: 50vh;
}
.yhw_signForm > h4 {
  display: block;
  width: 65%;
  margin: 30px auto;
  text-align: center;
}
.yhw_signInputBox {
  width: 60%;
  display: flex;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
}
.yhw_signInputTit {
  text-align: right;
  display: block;
  width: 30%;
  min-width: 60px;
  margin: -1px 10px 0 10px;
  font-weight: bold;
  align-items: flex-end;
}
.yhw_signInputBox > input {
  display: block;
  width: 55%;
  height: 40px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.yhw_signMailPWInputTit { /* Mail 가입 시 패스워드확인 input 태그 왼쪽 글씨 */
  margin-top: -30px;
}
.yhw_signMailPWInputBox { /* Mail 가입 시 패스워드 input & p 태그 감싸는 div 태그 */
  width: 65%;
}
.yhw_signMailPWInputBox > input {
  display: block;
  width: 85%;
  height: 40px;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.yhw_signMailPWInputBox > p {
  margin-bottom: 0;
  font-size: 13px;
  color: #707070;
}
input.yhw_AgeInput {   /* 나이 입력 input 태그 CSS */
  display: block;
  width: 10%;
  max-width: 15%;
  min-width: 50px;
  height: 37px;
  margin-left: 0;
  margin-right: 10px;
}
.yhw_signGenderBtns {
  display: flex;
  width: 22%;
}
.yhw_signGenderBtns > button {  /* 남자 여자 버튼 */
  width: 50%;
  min-width: 50px;
  height: 36px;
  margin-right: 10px;
  background-color: white;
  border: #D2D2D2 1px solid;
  border-radius: 5px;
}
.yhw_signGenderBtns > button:hover {
  background-color: #D2D2D2;
}
.yhw_signGenderBtns > button:active {
  background-color: #D2D2D2;  
}
.yhw_signUpBtnBox {   /* 회원가입 버튼 감싸는 div 태그 CSS */
  text-align: center;
  margin-top: 40px;
}
.yhw_signUpBtnBox > button {   /* 회원가입 button 태그 CSS */
  width: 120px;
  height: 40px;
  background-color: #C87E66;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.yhw_dupCheckBtn {   /* 중복확인 button 태그 CSS */
  width: 75px;
  min-width: 75px;
  height: 35px;
  background-color: #C87E66;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: medium;
  margin-left: 5px;
}
/* ******************************************************* */
/* CSS 반응형 */
@media screen and (max-width: 1440px) {  /* 화면의 너비가 최대 1440px 일 때 (1440px 미만) */
  .yhw_signInputBox > input {
    width: 45%;
  }
  .yhw_signMailPWInputBox > input {
    width: 70%;
  }
}
@media screen and (max-width: 621px) {
  .yhw_signInputBox > input {
    width: 30%;
  }
  .yhw_signMailPWInputBox > input {
    width: 50%;
  }
}
@media screen and (max-width: 491px) {
  .yhw_signMailPWInputTit {
    margin-top: -55px;
  }
}
@media screen and (max-width: 425px) {
  .yhw_signInputBox > input {
    width: 20%;
  }
  .yhw_signMailPWInputTit {
    margin-top: -50px;
  }
  .yhw_signMailPWInputBox > input {
    width: 35%;
  }
}